---
// Ruta: src/pages/casos-exito.astro (Versión Final Verificada)
import Layout from '../layouts/Layout.astro';
import { slides } from '../data/casos-exito.js';
import { Icon } from 'astro-icon/components';

const pageTitle = "Casos de Éxito | S&G Soluciones de Ingeniería";
---
<Layout title={pageTitle}>
  <div class="carousel-container">
    <img src="/casos_logo.svg" alt="SyG Logo Watermark" class="watermark-logo" loading="lazy">
    <div class="splide success-cases-splide h-full">
      <div class="splide__track h-full">
        <ul class="splide__list h-full">
          {slides.map(slide => (
            <li class="splide__slide">
              <div class="inner">
                {/* ... Contenido del slide ... */}
              </div>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</Layout>
<script>
  import Splide from '@splidejs/splide';
  import '@splidejs/splide/css/core';

  const splideElement = document.querySelector('.success-cases-splide');
  if (splideElement) {
    new Splide(splideElement, {
      type: 'loop',
      autoplay: true,
      interval: 8000,
      pauseOnHover: true,
      keyboard: 'global',
      arrows: true,
      pagination: true,
    }).mount();
  }
</script>
<style is:global>
  /* ... Tu CSS completo va aquí ... */
</style>